.auth-forms {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../assets/auth-pages-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  height: 130vh;
}

.pointer {
  cursor: pointer;
}

.primary {
  text-decoration: underline;
  color: white;
}

.primary:hover {
  color: rgb(13 110 253);
}

@media screen and (min-width: 1000px) {
  .auth-forms {
    height: 100vh;
  }
}