.auth-forms {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../assets/auth-pages-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

.primary {
  color: rgb(13 110 253);
}

.primary:hover {
  color: white;
}
