:root {
  --blue: #0d6efd;
  --lavendar: rgba(255, 240, 245, 0.6);
  --lavendar-light: rgba(255, 240, 245, 0.8);
}

* {
  font-family: lato, sans-serif;
}

.menu-btn {
  font-size: 25px;
}

#header {
  position: absolute;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  top: 0;
  backdrop-filter: blur(50px);
  z-index: 999;
  /* background-color: transparent; */
  background-color: rgb(93,57,84);
}

.mobile-nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  z-index: 1000;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nav-panel h2 {
  margin-bottom: 2rem;
  text-align: left;
  font-size: 15px;
}

.nav-panel li {
  text-align: left;
  list-style-type: none;
  margin: 0.5rem 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: 0.3s linear;
}

.nav-panel li:active {
  color: white;
}

.nav-panel a {
  text-align: left;
  font-size: 0.7rem;
  padding-bottom: 3px;
  color: var(--lavendar-light);
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-panel li:active a {
  color: white;
}

.nav-panel li:hover a {
  color: white;
}

.mobile-close {
  position: absolute;
  z-index: 100;
  height: 2rem;
  width: 2rem;
  top: 0.5rem;
  left: 0.5rem;
}

.sign-out {
  background: transparent;
  border: none;
  color: var(--lavendar-light);
  font-size: 0.7rem;
  margin-left: 2rem;
}

.sign-out:hover {
  color: white;
}

.logo {
  margin: 3rem 2rem 0 2rem;
  width: 80px;
  height: 80px;
}

.footer {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.copyright-text, .copyright-text p {
  color: var(--lavendar-light);
  font-size: 12px;
}

.copyright-text p {
  font-size: 10px;
}

@media (min-width: 1000px) {
  #header {
    width: 30%;
    display: block;
    position: relative;
    height: 100%;
    padding: 2rem 0;
    box-shadow: 0 0 10px 0 rgb(200, 200, 200);
    background-color: rgb(93,57,84);
  }

  .nav-panel {
    margin-right: 3rem;
  }

  .mobile-nav {
    display: none;
  }

  .nav-panel ul {
    margin: 1rem 0 1rem 0;
  }

  .nav-panel a {
    font-size: 0.8rem;
  }

  .nav-panel li:active {
    color: var(--lavendar);
  }

  .nav-panel li:hover {
    color: white;
  }

  .sign-out {
    font-size: 0.8rem;
  }

  .logo {
    margin: 0 2rem 1rem 2rem;
    width: 120px;
    height: 120px;
  }

  .mobile-close {
    display: none;
  }
}
