:root {
  --english-lavendar: rgb(180,131,149);
  --lavendar-light-text: rgba(255, 249, 251, 0.9);
  --lavendar-light: rgba(255, 240, 245, 0.8);
  --dark-mauve: rgb(17, 0, 13);
  --carton: rgba(255, 219, 99, 0.9);
  --carton-light: rgba(253, 225, 133, 0.9);
  --razzmatazz: #D90077;
  --razzma-light: #d84696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

#pages-content {
  width: 100%;
  overflow-y: auto;
}

.technical-pages-bg, .technical-pages-bg-v2 {
  background-color: var(--lavendar-light);
  color: var(--lavendar-light);
  height: auto;
}

.technical-pages-bg-v2 {
  background-color: var(--english-lavendar);
  color: var(--dark-mauve);
}

.tech-header, .tech-header-v2 {
  background-color: var(--english-lavendar);
  height: 3.5rem;
  padding-top: 6px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid var(--carton-light);
}

.tech-header-v2 {
  background-color: var(--lavendar-light-text);
  border-bottom: 3px solid var(--razzmatazz);
}

.tech-card-container {
  height: 100vh;
  padding-top: 6rem;
}

.tech-card, .tech-card-v2 {
  background-color: var(--english-lavendar);
  width: 90%;
  height: 12rem;
  border-left: 5px solid var(--carton-light);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.tech-card-v2 {
  background-color: var(--lavendar-light-text);
  border-left: 5px solid var(--razzmatazz);
}

.tech-btn {
  background-color: var(--carton-light);
  border: none;
  height: 1.7rem;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  color: var(--dark-mauve);
}

.tech-btn:hover {
  background-color: var(--carton);
}

@media screen and (min-width: 1000px) {
  body {
    display: block;
    width: 100%;
  }

  .tech-header, .tech-header-v2 {
    width: 80%;
    padding-top: 0;
  }

  .tech-card, .tech-card-v2 {
    width: 70%;
    padding: 1rem;
    flex-direction: row;
  }

  .tech-title {
    width: 20%;
  }
}

input {
  margin-bottom: 2rem !important;
  margin-right: 4rem !important;
  width: 15rem;
}
